    <div class = "container">
        <h1>Welcome to the Activity Center!</h1>

        <div class="row">
                <div class="col-md-5 col-sm-8 col-12" id = "login">
                    <h1>Login</h1>
                    <partial name="LoginPartial">               
                </div>
                <div class="col-lg-1 col-0"></div>
                <div class="col-md-6 col-sm-8 col-12" id = "register">
                        <h1>Registration</h1>
                         <partial name="RegisterPartial"></partial>     
                </div>
        </div>
    </div>
</html>